@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  border: 1px solid red;
  }
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared elements */

main{
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 20px 260px 20px 260px; */
}
.display-flex {
  display: flex;
}
.heading-font {
  font-size:2.8rem;
  font-weight: 700;
}
.text-normal {
  font-size: 1.2rem;
  font-weight: 400;
}
.dark-2 {
  color: rgb(66, 66, 66);
}
.dark-3 {
  color: rgb(114, 114, 114);
}
.orange {
  color: (255, 144, 14);
}
.btn-orange {
  width: 11rem;
  height: 4rem;
  border-radius: 0.5rem;
  background: rgb(255, 144, 14);
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

/* -------- */
header {
  background: rgba(255, 144, 14, 0.1);
 
  padding: 20px 260px 20px 260px;
}
.navbar {
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links {
  gap: 30px;
}
.link-list {
  list-style: none;
}
.list-item {
  text-decoration: none;
}
.banner {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
}
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-heading {
  font-size: 4rem;
  font-weight: 700;
}
.banner-discription {
  font-size: 16px;
  font-weight: 400;
}
.banner-pic{
  width: 100%;
  margin-bottom: 50px;
}
/* header sections ends */
/* main section starts */
/* feature list section starts */
.list-of-feature{
 align-items: center;
 padding: 20px 260px 20px 260px; ;
}
/* .feauture-container{
  gap: 70px;
} */
.feature-pic-container{
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.feature-pic{
  width: 342px;
}
.feauture-discription{
  margin-left: 4.5rem;
  max-width: 530px;
}
/* feature list section ends */
/* main section ends */






/* break point */
/* small device */
@media screen and (max-width:576px) {
  header,main {
    padding: 10px;
  }
  .nav-links ,.navbar ,.list-of-feature{
    flex-direction: column;
  }  
  .feature-pic-container{
    grid-template-columns: repeat(1 ,1fr);
  }
  .feauture-discription{
    margin-left: 10px;
  }
}
@media screen and (min-width:577px) and (max-width:992px) {
  header,main {
    padding: 10px;
  }
  .nav-links ,.navbar ,.list-of-feature{
    flex-direction: column;
  }  
  .feature-pic-container{
    grid-template-columns: repeat(1 ,1fr);
  }
  .feauture-discription{
    margin-left: 10px;
  }
  
}